{% if request.query.success %}
  <p style="color: green;">Form submitted successfully</p>
{% endif %}

{% if request.query.error %}
  <p style="color: red;">{{ request.query.error }}</p>
{% endif %}

<div id="form-success" style="display:none; color:green;">
  Form submitted successfully
</div>

<div id="form-error" style="display:none; color:red;"></div>

<form
 id="configuratorForm"
  method="post"
  action="/apps/configurator"
  enctype="multipart/form-data"
>
  <input type="text" name="brand_name" placeholder="Brand Name" required>
<input type="hidden" name="shop_domain" value="kastesting.myshopify.com" />

  <input type="text" name="bio" placeholder="Bio" required>

  <input type="text" name="category" placeholder="Category" required>

  <input type="text" name="phone" placeholder="Phone" required>

 {% comment %} <label>Lookbook File</label>
  <input type="file" name="lookbook_file" accept=".pdf,.jpg,.png" >

  <label>Linesheet PDF1</label>
  <input type="file" name="linesheet_pdf" accept=".pdf" > {% endcomment %}

 <button type="submit">Submit1</button>
</form>

<style>
  .loader {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-top: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    animation: spin 1s linear infinite;
    margin-left: 8px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>



<script>
  const form = document.getElementById("configuratorForm");
  const successBox = document.getElementById("form-success");
  const errorBox = document.getElementById("form-error");

  form.addEventListener("submit", async function (e) {
    e.preventDefault();

    successBox.style.display = "none";
    errorBox.style.display = "none";

    const formData = new FormData(form);

    try {
      const response = await fetch("/apps/configurator", {
        method: "POST",
        body: formData
      });

      const result = await response.json();

      if (!response.ok || result.success === false) {
        throw new Error(result.error || "Submission failed");
      }

      successBox.style.display = "block";
      console.log(result);
      alert(result);
      form.reset();
    } catch (error) {
      errorBox.textContent = error.message;
      errorBox.style.display = "block";
    }
  });
</script>

{% schema %}
{
  "name": "Configurator Form",
  "target": "section"
}
{% endschema %} 


